body {
    font-family: 'Open Sans Condensed';
    padding: 20px 40px;
    
    @media screen and (max-width: 800px) {
      padding: 10px;
    }

    @media screen and (max-width: 500px) {
      padding: 5px;
    }
  }  
 
  * {
    box-sizing: border-box;
  }
  